form {
  max-width: 400px;
  width: calc(100% - 350px);
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-size: small;
}

.ng-dirty.ng-invalid,
.ng-touched.ng-invalid {
  border-color: red;
  border-width: 1px;
}

.error {
  font-size: x-small;
  color: red;
}

app-collection-item-card {
  margin: 10px 0;
}

:host {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  align-content: space-between;
}

.action-buttons .left,
.action-buttons .right {
  display: flex;
  gap: 1;
  flex-grow: 1;
}

.action-buttons .right {
  justify-content: right;
}
