#collection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.collection-grid {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.centered {
  margin-top: 1rem;
  text-align: center;
}
