<header id="collection-header">
  <h1>{{ selectedCollection()?.title }}</h1>
  <div>
    <app-search-bar [(search)]="search"> </app-search-bar>
  </div>
</header>
<section class="collection-grid">
  @for (item of displayedItems(); track item.name) {
    <app-collection-item-card [item]="item"></app-collection-item-card>
  }
</section>
@let displayedItemsCount = displayedItems().length;
@if (displayedItemsCount > 0) {
  <div class="centered">{{ displayedItemsCount }} objet(s) affiché(s).</div>
} @else {
  <div class="centered">Aucun résultat.</div>
}
