nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: calc(100vh - 2rem);
}

nav ul {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  width: 250px;
}

nav ul li {
  width: calc(100% - 2rem);
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

nav ul li.selected {
  border-color: cadetblue;
  background-color: #9999ff25;
}

.avatar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 2.5rem;
  border: 2px solid grey;
  vertical-align: baseline;
  margin-right: 0.5rem;
}

nav header {
  vertical-align: baseline;
  font-size: large;
  font-weight: bold;
}

nav footer button {
  width: 100%;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: crimson;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.collection {
  display: flex;
  flex-direction: column;
}

.collection .name {
  font-weight: bolder;
}

.collection .items-count {
  font-size: smaller;
}
